{% extends 'main.html' %}

{% block content %}
<h1>Home Template</h1>


<div>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="emp_name">Name:</label>
        <input type="text" id="emp_name" name="emp_name">
        <label for="join_date">Join date:</label>
        <input type="date" id="join_date" name="join_date">


        {{form.as_p}}


        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
</div>


{% comment %} {% for employee in employees %}
<div>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            padding: 10px;
        }
    </style>

    <table>
        <tr>
            <td>{{employee.first_name}}</td>
            <td>{{employee.last_name}}</td>
            <td>{{employee.hourly_pay}}</td>
        </tr>
    </table>
</div>


{% endfor %} {% endcomment %}

{% comment %} {% for room in rooms %}
<div>
    <h5>{{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}} </a> </h5>


</div> {% endcomment %}

{% comment %} {% endfor %} {% endcomment %}

{% endblock content %}