{% extends 'main.html' %}

{% block content %}
<h1>Home Template</h1>
<div>
    <table>
        <thead>
            <tr>
                <th>FirstName</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
            </tr>
        </tbody>
    </table>
</div>
{% for room in rooms%}
<div>
    <h5>{{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}} </a> </h5>


</div>

{% endfor %}

{% endblock content %}