{% extends 'main.html' %}

{% block content %}
<h1>Home Template</h1>


<div><label for="birthday">Birthday:</label>
    <input type="date" id="birthday" name="birthday"></div>


{% for employee in employees %}
<div>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            padding: 10px;
        }
    </style>

    <table>
        <tr>
            <td>{{employee.first_name}}</td>
            <td>{{employee.last_name}}</td>
            <td>{{employee.hourly_pay}}</td>
        </tr>
    </table>
</div>


{% endfor %}

{% for room in rooms %}
<div>
    <h5>{{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}} </a> </h5>


</div>

{% endfor %}

{% endblock content %}